<configuration>
  <system.webServer>
	
	<rewrite>
	  <rules>
	    <rule name="sendToNode">
		  <match url="/*" />
		  <action type="Rewrite" url="/public/website_1/server.js" />
		</rule>
	  </rules>
	</rewrite>
	
  </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
  
    <handlers>
	  <add name="iisnode" path="/public/website_1/server.js" verb="*" modules="iisnode" />
	</handlers>
        </system.webServer>
    </location>
</configuration>